{
  "root": true,
  "extends": [
    "prettier-standard"
  ],
  "parserOptions": {
    "ecmaVersion": 9
  },
  "overrides": [
    {
      "files": [
        "*.Test.js"
      ],
      "env": {
        "mocha": true
      }
    }
  ]
}
